@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'ubuntu';
}

.nav{


    display: flex;
    align-items:center;
    justify-content:space-between;
    /* background-color: rgb(97, 168, 97);
    border: 1px ;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
     */
    
}
.title{
    font-family: 'ubuntu' ;
color: rgb(2, 86, 2);
}
.list{
    display: inline;
    padding-right: 4px;
    font-size: smaller;
}

.anchor{
    color: black;
    text-decoration: none;
}
/* landing section css */
.content{
    text-align: center;
    padding: 6rem;
    background: url(../images/bg.jpg);
    background-size: cover;

}
.content_subheading{
    color: green;
}
.btn-primary{
    background-color: green;
    padding: 10px,20px;
    color: white;
    border: none;
    border-radius: 14px;

}
/* video section  */
.video_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlighted_text{
    color: green;
}
.video_section{
    border: 1px solid black;
    padding: 4rem;
}
.recipes{
    display: flex;
    align-items: center;
    
    justify-content: end;
   
}
.left{
    display: flex;
    align-items: left;
    background: url(../images/recipes.png);
    background-size: cover;
    padding: 10rem;
    width: 500px;
    
}
.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7rem 7rem 7rem 1rem;
     font-size: 90%; 
     font-family: 'ubuntu';
   
}
.right>h2{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.arrow{
    background: url(../images/arrow.svg);
    background-size: cover;
    height: 150px;
    width: 150px ;
    display: flex;
    align-items: left;
   
}
